.header {
    background: skyblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
img {
    width:50px;
    height:50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
li {
   
   padding-left:30px;
   text-align:right;
}
li a {
    display:inline;
    color: white;
    padding: 24px 16px;
    text-decoration: none;    
}
ul {
    list-style-type: none;
    margin:auto;
    padding:0px;
    display:flex; 
}
h1 {
    color: white;
    font-family: "Montserrat";
    font-size:18px;
    padding-left:25px;

}
